.main-dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px; /* Increased gap for better spacing */
  margin-top: 40px;
}

.upper-stats {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: auto; /* Adjust height to auto to accommodate chart size */
  border-radius: 10px;
  padding: 20px; /* Added padding to make space for the chart */
  box-shadow: 0px 4px 6px rgba(0, 0, 255, 0.2); /* Bluish box shadow */
  transition: all 0.3s ease-in-out;
}

.charts {
  width: 100%;
  min-height: auto; /* Adjust height to auto to accommodate chart size */
  padding: 10px; /* Added padding for better alignment */
}
